name: Tests & CodeQuality Workflow
run-name:  Tests & CodeQuality workflow at ${{ github.ref }}
on: [push]
jobs:
  checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Setup libraries
        run: |
          cd frontend/
          uv sync
          uv pip install --editable .[dev]
      - name: Run Ruff linter
        run: |
          cd backend/
          uv run pre-commit run --all-files

  build-frontend:
    needs: [checking]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Setup libraries
        run: |
          cd frontend/
          uv sync
          uv pip install --editable .
      - name: Run frontned
        run: |
          cd frontend/
          uv run python manage.py runserver 0.0.0.0:8005 &
      - name: Проверка демона
        run: |
          sleep 5
          curl -f http://localhost:8005/frontend_health_check/  # Проверка доступности

  test-frontend-javascript:
    needs: [build-frontend]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install node & npm to launch javascript tests
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install all necessary packages
        run: |
          cd frontend/
          npm install
      - name: Run tests
        run: |
          cd frontend/
          npm test -- --coverage
      - name: Upload JavaScript coverage
        uses: actions/upload-artifact@v4
        with:
          name: js-coverage
          path: frontend/coverage/
          retention-days: 1

  test-frontend-django:
    needs: [build-frontend]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Setup libraries
        run: |
          cd frontend/
          uv sync
          uv pip install --editable '.[dev]'
      - name: Run tests
        run: |
          cd frontend/
          uv run pytest --cov=app --cov-report=xml:coverage/django-coverage.xml app/tests/test_views.py
      - name: Upload Django coverage
        uses: actions/upload-artifact@v4
        with:
          name: django-coverage
          path: frontend/coverage/django-coverage.xml
          retention-days: 1

  test-backend:
    needs: [checking]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Setup libraries
        run: |
          cd backend/
          uv sync
          uv pip install --editable '.[dev]'
      - name: Run Backend Tests
        run: |
          cd backend/
          LITESTAR_WARN_IMPLICIT_SYNC_TO_THREAD=0 uv run pytest --cov . --cov-report=term --cov-report=xml:coverage/coverage.xml
      - name: Upload Backend coverage
        uses: actions/upload-artifact@v4
        with:
          name: backend-coverage
          path: backend/coverage/coverage.xml
          retention-days: 1

  test-embedder:
    needs: [checking]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
      - name: Setup libraries
        run: |
          cd embedder/
          uv sync
          uv pip install --editable '.[dev]'
      - name: Run Embedder Tests
        run: |
          cd embedder/
          LITESTAR_WARN_IMPLICIT_SYNC_TO_THREAD=0 uv run pytest --cov . --cov-report=term --cov-report=xml:coverage/coverage.xml
      - name: Upload Embedder coverage
        uses: actions/upload-artifact@v4
        with:
          name: embedder-coverage
          path: embedder/coverage/coverage.xml
          retention-days: 1

  verify-coverage:
    needs: [test-frontend-javascript, test-frontend-django, test-backend, test-embedder]
    runs-on: ubuntu-latest
    steps:
      - name: Download JavaScript coverage
        uses: actions/download-artifact@v4
        with:
          name: js-coverage
          path: frontend/coverage
      - name: Download Django coverage
        uses: actions/download-artifact@v4
        with:
          name: django-coverage
          path: frontend/coverage
      - name: Download Backend coverage
        uses: actions/download-artifact@v4
        with:
          name: backend-coverage
          path: backend/coverage
      - name: Download Embedder coverage
        uses: actions/download-artifact@v4
        with:
          name: embedder-coverage
          path: embedder/coverage

      - name: Check coverage reports existence
        run: |
          # Check Frontend JavaScript coverage
          if [ ! -f "frontend/coverage/lcov.info" ]; then
            echo "Frontend JavaScript coverage report not found!"
            exit 1
          fi

          # Check Frontend Django coverage
          if [ ! -f "frontend/coverage/django-coverage.xml" ]; then
            echo "Frontend Django coverage report not found!"
            exit 1
          fi

          # Check Backend Test coverage
          if [ ! -f "backend/coverage/coverage.xml" ]; then
            echo "Backend coverage report not found!"
            exit 1
          fi

          # Check Embedder Test coverage
          if [ ! -f "embedder/coverage/coverage.xml" ]; then
            echo "Embedder coverage report not found!"
            exit 1
          fi

          echo "All coverage reports are present!"

  setup-remote-info:
    runs-on: ubuntu-latest
    outputs:
      monitoring-ip: ${{ steps.monitoring-ip-getter.outputs.value}}
      sonar-token: ${{steps.sonar-token-getter.outputs.value}}
    steps:
      - name: Install yc
        run: |
          curl https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash -s -- -i /opt/yc
          source "/home/runner/.bashrc"

      - name: List All Compute Instances
        run: |
          /opt/yc/bin/yc \
            --token ${{ secrets.YC_OATH_TOKEN }} \
            --folder-id ${{ secrets.YC_FOLDER_ID }} \
            --cloud-id ${{ secrets.YC_CLOUD_ID }} \
            compute instance list

      - name: Get Monitoring-VM IP
        id: monitoring-ip-getter
        run: |
          JSON_RESPONSE=$(
            /opt/yc/bin/yc \
              --token ${{ secrets.YC_OATH_TOKEN }} \
              --folder-id ${{ secrets.YC_FOLDER_ID }} \
              --cloud-id ${{ secrets.YC_CLOUD_ID }} \
              compute instance get monitoring-vm --format json
          )
          MONITORING_IP=$(echo "$JSON_RESPONSE" | jq -r '.network_interfaces[0].primary_v4_address.one_to_one_nat.address')
          echo "value=$MONITORING_IP" >> $GITHUB_OUTPUT

      - name: Get Sonar Token
        id: sonar-token-getter
        # вытаскиваю переменную из соседнего step'а
        env:
          MONITORING_IP: ${{ steps.monitoring-ip-getter.outputs.value }}
        run: |
          mkdir -vm 700 /home/runner/.ssh
          ssh-keyscan -Ht ed25519 $MONITORING_IP > /home/runner/.ssh/known_hosts
          echo "${{ secrets.SSH_KEY }}" > /home/runner/.ssh/id_ed25519
          chmod 600 /home/runner/.ssh/id_ed25519
          scp ubuntu@$MONITORING_IP:/home/ubuntu/sonar_token.txt /home/runner/sonar_token.txt
          echo "value=$(cat /home/runner/sonar_token.txt)" >> $GITHUB_OUTPUT

  sonarqube:
    runs-on: ubuntu-latest
    needs: [verify-coverage, setup-remote-info]
    env:
      SONAR_HOST_URL: http://${{needs.setup-remote-info.outputs.monitoring-ip}}:9000
      SONAR_TOKEN: ${{needs.setup-remote-info.outputs.sonar-token}}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Download JavaScript coverage
      uses: actions/download-artifact@v4
      with:
        name: js-coverage
        path: frontend/coverage
    - name: Download Django coverage
      uses: actions/download-artifact@v4
      with:
        name: django-coverage
        path: frontend/coverage
    - name: Download Backend coverage
      uses: actions/download-artifact@v4
      with:
        name: backend-coverage
        path: backend/coverage
    - name: Download Embedder coverage
      uses: actions/download-artifact@v4
      with:
        name: embedder-coverage
        path: embedder/coverage

    - name: Echo Vars
      run: echo "Sonar URL $SONAR_HOST_URL, SonarQube Token $SONAR_TOKEN"

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v5.2.0

    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@v1.1.0

    - name: Quality Status
      run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
